body {
  max-width: 1800px;
  margin: auto;
  font-family: "Playfair Display", Georgia; }

/* ------  Header & Navbar -------  */
header {
  position: relative;
  margin: auto;
  height: 750px;
  background-image: url(images/featured_img.jpg);
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply; }

.navbar {
  background-color: transparent !important;
  position: fixed;
  width: 100%;
  max-width: 1800px;
  transition: all 400ms ease-in-out;
  z-index: 100; }
  .navbar.shrink-nav {
    background-color: rgba(195, 157, 99, 0.8) !important;
    box-shadow: 0 0 5px -2px gray; }
    .navbar.shrink-nav .navbar-brand h1 {
      font-size: 1.2em;
      letter-spacing: 3px;
      margin-bottom: 0; }

.navbar-brand h1 {
  color: #F5F5F5;
  letter-spacing: 4px;
  font-size: 1.5em;
  transition: all 400ms ease-in-out; }

/* Navbar toggler button */
.navbar-toggler {
  border: none;
  padding: 0;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* horizontal lines inside nav button: */ }
  .navbar-toggler span {
    border: 3px solid #c39d63;
    border-radius: 4px;
    width: 40px;
    margin: 3px 0; }
  .navbar-toggler:hover span {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1); }

.navbar-collapse {
  background-color: #c39d63; }
  .navbar-collapse .nav-item {
    text-align: center; }

/* Navbar Items */
.navbar-light .navbar-nav .nav-link {
  color: #F5F5F5;
  letter-spacing: 4px;
  transition: all 300ms ease-in-out; }
  .navbar-light .navbar-nav .nav-link:hover {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }

.heading {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50%;
  color: #F5F5F5;
  text-align: center; }
  .heading h2 {
    font-size: 3em;
    letter-spacing: 5px; }
  .heading p {
    text-transform: none;
    line-height: 2em;
    font-size: 20px;
    color: #939393;
    padding: 20px;
    background-color: rgba(195, 157, 99, 0.09);
    margin-bottom: 30px;
    opacity: 0;
    -webkit-transform: translateY(-15%);
    -ms-transform: translateY(-15%);
    transform: translateY(-15%);
    -webkit-animation: slide-down 1.5s ease-in-out 700ms forwards normal;
    animation: slide-down 1.5s ease-in-out 700ms forwards normal; }
  .heading a {
    padding: 10px 20px;
    background-color: transparant;
    border: 2px solid white;
    color: #F5F5F5;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out; }
    .heading a:hover {
      background-color: #c39d63;
      text-decoration: none; }

/* Media Query - Responsive header design */
@media only screen and (min-width: 991px) {
  header {
    background-position: center; }

  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

  .navbar-collapse {
    background-color: transparent; }

  .navbar-light .navbar-nav .nav-link {
    color: #F5F5F5;
    letter-spacing: 1px; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  header {
    height: 600px;
    background-size: auto 650px; }

  .navbar-brand {
    padding-left: 50px; }
    .navbar-brand h1 {
      letter-spacing: 5px;
      font-size: 1.3em; }

  .heading h2 {
    font-size: 2.5em; }
  .heading p {
    font-size: 16px;
    padding: 15px; } }
@media only screen and (min-width: 576px) and (max-width: 768px) {
  header {
    height: 500px;
    background-size: auto 500px; }

  .navbar-brand {
    padding-left: 50px; }
    .navbar-brand h1 {
      letter-spacing: 4px;
      font-size: 1.2em; }

  .heading {
    width: 70%; }
    .heading h2 {
      font-size: 1.8em; }
    .heading p {
      font-size: 14px;
      padding: 12px; } }
@media only screen and (max-width: 576px) {
  header {
    height: 400px;
    background-size: auto 450px; }

  .navbar {
    background-color: rgba(195, 157, 99, 0.8) !important; }

  .navbar-brand {
    padding-left: 5px; }
    .navbar-brand h1 {
      letter-spacing: 1px;
      font-size: 0.8em; }

  .heading {
    width: 85%; }
    .heading h2 {
      font-size: 1.4em; }
    .heading p {
      font-size: 12px;
      padding: 10px;
      margin-bottom: 20px;
      line-height: 1.5em; } }
/* **** Welcome Section ***** */
.welcome-container {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.welcome-wrapper {
  max-width: 1150px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.welcome-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 70px;
  font-family: "Playfair Display", Georgia;
  width: 50%; }
  .welcome-text h3 {
    font-size: 38px;
    color: #1f1f1f; }
  .welcome-text hr {
    width: 40%;
    border: 2px solid #c39d63;
    margin-bottom: 40px;
    margin-left: 0; }
  .welcome-text p {
    line-height: 2em;
    color: #939393;
    opacity: 0;
    -webkit-transform: translateY(-15%);
    -ms-transform: translateY(-15%);
    transform: translateY(-15%);
    -webkit-animation: 1.5s ease-in-out 300ms forwards normal;
    animation: 1.5s ease-in-out 300ms forwards normal; }

.welcome-img {
  max-width: 400px;
  opacity: 0;
  -webkit-transform: translateX(20%);
  -ms-transform: translateX(20%);
  transform: translateX(20%);
  -webkit-animation: 1.5s ease-in-out 300ms forwards normal;
  animation: 1.5s ease-in-out 300ms forwards normal; }
  .welcome-img img {
    width: 100%;
    height: auto; }

/* Media Query - Responsive Welcome section */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .welcome-text h3 {
    font-size: 28px; } }
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .welcome-container {
    height: 750px; }

  .welcome-wrapper {
    width: 80%;
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }

  .welcome-text {
    width: 100%;
    margin: auto;
    padding-left: 0;
    padding-right: 0px;
    padding-bottom: 20px; }
    .welcome-text h3 {
      font-size: 30px; } }
@media only screen and (max-width: 576px) {
  .welcome-container {
    height: 700px; }

  .welcome-wrapper {
    width: 85%;
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }

  .welcome-text {
    width: 100%;
    margin: auto;
    padding-left: 0;
    padding-right: 0px;
    padding-bottom: 20px; }
    .welcome-text h3 {
      font-size: 28px; }
    .welcome-text p {
      font-size: 14px; } }
/* **** Menu Section *** */
.menu {
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #1f1f1f; }

.menu-wrapper {
  height: 90%;
  width: 1100px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #F5F5F5; }

.menu-col {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .menu-col .menu-item {
    height: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    color: #939393; }
    .menu-col .menu-item p {
      opacity: 0;
      -webkit-transform: translateY(-15%);
      -ms-transform: translateY(-15%);
      transform: translateY(-15%);
      -webkit-animation: 1.5s ease-in-out 300ms forwards normal;
      animation: 1.5s ease-in-out 300ms forwards normal; }
    .menu-col .menu-item h4, .menu-col .menu-item .price {
      color: #c39d63; }
  .menu-col .menu-item-img {
    height: 50%;
    overflow: hidden; }
    .menu-col .menu-item-img img {
      opacity: 0.9;
      height: 100%;
      width: 100%;
      animation: 8s ease-in-out 200ms forwards normal; }

/* Media Query - Responsive Menu section */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .menu {
    height: 650px; }

  .menu-wrapper {
    height: 80%; }

  .menu-col .menu-item h4 {
    font-size: 18px; }
  .menu-col .menu-item p {
    font-size: 14px; } }
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .menu {
    height: 900px; }

  .menu-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

  .menu-col {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 280px; }
    .menu-col .menu-item {
      width: 50%;
      height: auto; }
    .menu-col .menu-item-img {
      height: auto;
      width: 50%; } }
@media only screen and (max-width: 576px) {
  .menu {
    height: 1400px; }

  .menu-wrapper {
    height: 95%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

  .menu-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 33.33%; }
    .menu-col .menu-item h4 {
      font-size: 18px; }
    .menu-col .menu-item p {
      font-size: 14px; }
    .menu-col .menu-item-img {
      overflow: hidden; }
      .menu-col .menu-item-img img {
        height: 200%;
        -webkit-transform: translateY(-25%);
        -ms-transform: translateY(-25%);
        transform: translateY(-25%);
        width: 576px; }
    .menu-col:nth-child(2) .menu-item-img {
      order: 2; } }
/* **** Testimonials *** */
#testimonials {
  height: 700px;
  background-color: #F5F5F5; }

#testi-wrapper {
  padding-top: 100px;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.testi-row-1 {
  text-align: center; }
  .testi-row-1 h3 {
    font-size: 1.3em;
    opacity: 0;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    -webkit-animation: slide-up 1s ease-in-out 200ms forwards normal;
    animation: slide-up 1s ease-in-out 200ms forwards normal; }
  .testi-row-1 hr {
    border: 2px solid #c39d63;
    width: 50%; }
  .testi-row-1 h4 {
    font-size: 2em;
    padding-top: 30px;
    padding-bottom: 30px; }

.testi-row-2 ul {
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  list-style: none;
  padding-left: 0; }
  .testi-row-2 ul li {
    padding: 20px; }
    .testi-row-2 ul li .stars {
      padding-bottom: 30px;
      color: #c39d63;
      opacity: 0;
      -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
      transform: translateY(50%);
      -webkit-animation: slide-up 1s ease-in-out 500ms forwards normal;
      animation: slide-up 1s ease-in-out 500ms forwards normal; }
    .testi-row-2 ul li .testi-header p {
      width: 95%;
      font-size: 1.3em;
      font-weight: 500; }
    .testi-row-2 ul li .testi-content p {
      font-size: 1.1em;
      color: #939393;
      padding-right: 20px;
      padding-bottom: 30px;
      opacity: 0;
      -webkit-transform: translateX(20%);
      -ms-transform: translateX(20%);
      transform: translateX(20%);
      -webkit-animation: slide-left 1.5s ease-in-out 700ms forwards normal;
      animation: slide-left 1.5s ease-in-out 700ms forwards normal; }
    .testi-row-2 ul li .testi-content hr {
      width: 30%;
      border: 2px solid #c39d63;
      margin-left: 0; }
    .testi-row-2 ul li .testi-content span {
      color: #1f1f1f; }

/* Media Query - Responsive Menu section */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .testi-row-1 h3 {
    font-size: 1em; }
  .testi-row-1 h4 {
    font-size: 1.5em; }

  .testi-row-2 ul li {
    padding: 10px; }
    .testi-row-2 ul li .testi-header p {
      width: 90%;
      font-size: 1em;
      font-weight: 400; }
    .testi-row-2 ul li .testi-content p {
      font-size: 0.9em;
      padding-right: 10px;
      padding-bottom: 20px; } }
@media only screen and (min-width: 576px) and (max-width: 768px) {
  #testimonials {
    height: 900px; }

  .testi-row-1 h3 {
    font-size: 1em; }
  .testi-row-1 h4 {
    font-size: 1.5em; }

  .testi-row-2 ul {
    flex-wrap: wrap; }
    .testi-row-2 ul li {
      width: 50%; }
      .testi-row-2 ul li .testi-header p {
        width: 100%;
        font-size: 1em;
        font-weight: 400; }
      .testi-row-2 ul li .testi-content p {
        font-size: 0.9em;
        padding-right: 10px;
        padding-bottom: 10px; } }
@media only screen and (max-width: 576px) {
  #testimonials {
    height: 1100px; }

  .testi-row-1 h3 {
    font-size: 1em; }
  .testi-row-1 h4 {
    font-size: 1.3em; }

  .testi-row-2 ul {
    flex-direction: column; }

  .testi-row-2 ul {
    width: 90%;
    margin: auto; }
    .testi-row-2 ul li {
      padding: 0;
      padding-bottom: 20px;
      margin: auto; }
      .testi-row-2 ul li .stars {
        padding-bottom: 5px; }
      .testi-row-2 ul li .testi-header p {
        width: 100%;
        font-size: 1em;
        font-weight: 400; }
      .testi-row-2 ul li .testi-content p {
        font-size: 0.9em;
        padding-right: 0px;
        padding-bottom: 0px; }
      .testi-row-2 ul li .testi-content hr {
        margin-bottom: 2px;
        width: 20%;
        border: 1px solid #c39d63; } }
/* **** Hours of Operation and Subscribe Form *** */
#actions {
  height: 850px;
  background-image: url(images/footer_bg.jpg);
  background-size: cover;
  background-color: #1f1f1f;
  background-blend-mode: multiply;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

#actions-wrapper {
  height: 80%;
  width: 1280px;
  margin: auto;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #F5F5F5; }

.action-col {
  height: 100%;
  width: 45%;
  background-color: #1f1f1f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 70px;
  text-align: center;
  letter-spacing: 2px; }
  .action-col h3 {
    opacity: 0;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    -webkit-animation: slide-up 400ms ease-in-out 200ms forwards normal;
    animation: slide-up 400ms ease-in-out 200ms forwards normal; }

.hours {
  width: 60%; }
  .hours hr {
    border: 1px solid #c39d63;
    width: 5px;
    animation: strech 2s ease-in-out 200ms forwards normal; }
  .hours input {
    margin-top: 50px;
    padding: 8px 40px;
    background-color: #c39d63;
    color: #F5F5F5;
    border: none;
    font-weight: 600;
    letter-spacing: 2px; }

.contact input {
  padding: 8px 30px;
  background-color: #c39d63;
  color: #F5F5F5;
  border: none;
  font-weight: 600;
  letter-spacing: 2px; }

.subscribe {
  padding-top: 30px; }
  .subscribe form {
    opacity: 0;
    -webkit-animation: slide-right 1.5s ease-in-out 1s normal forwards;
    animation: slide-right 1.5s ease-in-out 1s normal forwards;
    padding-top: 30px; }
    .subscribe form input[type="button"] {
      background-color: #c39d63;
      color: #F5F5F5;
      border: none;
      font-weight: 600;
      letter-spacing: 2px;
      width: 100%;
      padding: 7px; }

.action-col input[type='button'] {
  -webkit-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  cursor: pointer; }
  .action-col input[type='button']:hover {
    box-shadow: 0 3px 5px -2px #939393; }

@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateY(-30px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
/* Media Query - Responsive Hours and Subsctibe section */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .action-col h3 {
    font-size: 1.3em; }

  .hours input, .contact input {
    font-size: 14px;
    padding: 5px 20px;
    font-weight: 400;
    letter-spacing: 1px; }

  .contact p {
    max-width: 80%;
    margin: auto; }

  .subscribe h3 {
    font-size: 1.1em; } }
@media only screen and (min-width: 576px) and (max-width: 768px) {
  #actions {
    height: 1350px; }

  #actions-wrapper {
    height: 95%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

  .action-col {
    width: 90%;
    height: 40%; }
    .action-col:nth-child(2) {
      height: 52%; }

  .hours input {
    margin-top: 20px; }

  .contact p {
    max-width: 95%;
    margin: auto; }

  .subscribe {
    width: 85%; }
    .subscribe h3 {
      font-size: 1.1em; } }
@media only screen and (max-width: 576px) {
  #actions {
    height: 1350px; }

  #actions-wrapper {
    height: 95%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

  .action-col {
    width: 90%;
    height: 40%; }
    .action-col h3 {
      font-size: 1em; }
    .action-col:nth-child(2) {
      height: 52%; }

  .hours {
    width: 90%; }
    .hours input {
      margin-top: 20px;
      font-size: 14px;
      letter-spacing: 1px;
      padding: 5px 14px; }

  .contact p {
    max-width: 95%;
    margin: auto;
    font-size: 12px; }

  .subscribe {
    width: 90%; }
    .subscribe h3 {
      font-size: 1em; } }
/* @@@@@ Animations Keyframes @@@@ */
@keyframes slide-down {
  0% {
    -webkit-transform: translateY(-15%);
    -ms-transform: translateY(-15%);
    transform: translateY(-15%);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }
@keyframes slide-up {
  0% {
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }
@keyframes slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20%);
    -ms-transform: translateX(20%);
    transform: translateX(20%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }
@keyframes zoom-in {
  0% {
    opacity: 0.9;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15); } }
@keyframes strech {
  0% {
    width: 5px; }
  100% {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
