header {
  height: 600px;
  background-image: url(about_imgs/about_hero.jpg); }

/* Media Query - Responsive About header design */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  header {
    height: 550px;
    background-size: auto 600px; } }
@media only screen and (min-width: 576px) and (max-width: 768px) {
  header {
    height: 500px; } }
@media only screen and (max-width: 576px) {
  header {
    height: 400px; } }
/* ***** About Section 1 ***** */
#about-sec-1 {
  height: 700px;
  width: 100%; }

.sec-1-wrapper {
  height: 100%;
  padding-top: 100px;
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.img-wrapper {
  height: 100%;
  width: 45%;
  text-align: center;
  margin-top: -25%;
  z-index: 3; }
  .img-wrapper img {
    height: 120%;
    box-shadow: 3px 8px 10px -1px rgba(0, 0, 0, 0.2); }

.about-intro {
  font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
  height: 80%;
  width: 45%;
  z-index: 4; }
  .about-intro h2 {
    color: #939393;
    font-size: 1.2em; }
  .about-intro hr {
    width: 80px;
    border: 2px solid #c39d63;
    margin-left: 0; }
  .about-intro h3 {
    font-size: 48px;
    padding-bottom: 30px;
    color: #1f1f1f; }
  .about-intro .intro-content {
    color: #939393;
    padding-bottom: 30px;
    padding-right: 30px; }
  .about-intro .intro-footer p {
    color: #1f1f1f;
    font-style: italic; }
  .about-intro .intro-footer span {
    color: #c39d63;
    font-style: italic; }

/* Media Query - Responsive About Section 1 design */
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .about-intro {
    width: 60%;
    height: 90%;
    padding: 30px; }
    .about-intro h2 {
      font-size: 1em; }
    .about-intro h3 {
      font-size: 38px; }

  .img-wrapper {
    margin-left: -160px; } }
@media only screen and (min-width: 577px) and (max-width: 768px) {
  #about-sec-1 {
    height: 1100px; }

  .sec-1-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding-top: 0px; }

  .img-wrapper {
    order: 2;
    height: 48%;
    width: 90%;
    overflow: hidden; }
    .img-wrapper img {
      height: 200%;
      margin-top: -30%;
      margin-left: -15%; }

  .about-intro {
    height: 48%;
    width: 90%; } }
@media only screen and (max-width: 576px) {
  #about-sec-1 {
    height: 900px; }

  .sec-1-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 0; }

  .img-wrapper {
    order: 2;
    height: 35%;
    width: 90%;
    overflow-y: hidden; }
    .img-wrapper img {
      height: auto;
      width: 100%;
      margin-top: -30%;
      margin-left: -10%; }

  .about-intro {
    height: 60%;
    width: 90%; }
    .about-intro h3 {
      font-size: 28px;
      padding-bottom: 5px; }
    .about-intro .intro-content {
      font-size: 14px;
      padding-bottom: 0; }
    .about-intro .intro-footer p {
      font-size: 12px;
      margin-bottom: 5px; } }
#features {
  width: 100%;
  height: 900px; }

.fe_wrapper {
  max-width: 1150px;
  height: 100%;
  padding-top: 80px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.fe_header {
  text-align: center; }
  .fe_header h2 {
    font-size: 22px;
    color: #939393; }
  .fe_header hr {
    border: 2px solid #c39d63;
    width: 50px;
    margin: auto; }
  .fe_header h3 {
    font-size: 40px;
    padding-top: 40px; }

.fe_row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }

.fe_item {
  padding: 20px; }

.fe_icon svg {
  font-size: 60px;
  height: 100px;
  color: #c39d63; }

.fe_blurb h4 {
  padding: 10px; }
.fe_blurb p {
  line-height: 2em;
  font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
  color: #939393; }

@media only screen and (min-width: 577px) and (max-width: 768px) {
  #features {
    height: 1400px; }

  .fe_wrapper {
    padding-top: 20px; }

  .fe_row {
    flex-direction: column;
    width: 90%; }

  .fe_item {
    padding: 0; }

  .fe_icon svg {
    font-size: 40px;
    height: 60px; } }
@media only screen and (max-width: 576px) {
  #features {
    height: 1400px; }

  .fe_wrapper {
    padding-top: 0px; }

  .fe_header h3 {
    font-size: 30px;
    padding-top: 20px; }

  .fe_row {
    flex-direction: column;
    width: 95%; }

  .fe_item {
    padding: 5px; }

  .fe_icon svg {
    font-size: 40px;
    height: 40px; }

  .fe_blurb h4 {
    font-size: 18px; }
  .fe_blurb p {
    line-height: 1.5em;
    font-size: 16px; } }
#slider {
  background-color: #1f1f1f;
  margin-top: 100px;
  width: 100%;
  max-height: 700px;
  min-height: 300px;
  margin-bottom: 50px;
  overflow: hidden; }

.slider-wrapper {
  position: relative;
  width: 100%; }

.slider {
  position: relative;
  width: 100%;
  list-style: none;
  padding: 0;
  margin-bottom: 0; }
  .slider li {
    width: 100%;
    max-height: 700px;
    min-height: 300px;
    overflow: hidden;
    position: relative;
    display: none;
    box-sizing: border-box; }
    .slider li.showing {
      display: block;
      -webkit-animation: showUp 250ms ease-in-out forwards normal;
      animation: showUp 250ms ease-in-out forwards normal; }
    .slider li.disappear {
      -webkit-animation: disappear 1650ms ease-in-out forwards normal;
      animation: disappear 1650ms ease-in-out forwards normal; }
    .slider li img {
      width: 100%;
      height: auto;
      min-height: 330px; }
    .slider li .slide-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .slider li .slide-content h2 {
        padding: 10px 30px;
        background-color: rgba(195, 157, 99, 0.5);
        color: #F5F5F5; }

.slider-dots {
  z-index: 10;
  position: relative;
  height: 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  bottom: 50px; }
  .slider-dots span {
    border: 5px solid rgba(195, 157, 99, 0.5);
    margin: 10px;
    border-radius: 5px;
    cursor: pointer; }
    .slider-dots span.is-active {
      border: 5px solid #c39d63; }
    .slider-dots span:hover {
      box-shadow: 0 0px 3px #F5F5F5; }

@keyframes showUp {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes disappear {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@media only screen and (max-width: 576px) {
  .slider li {
    background-size: auto 300px; }
    .slider li:nth-child(1) {
      background-image: url("about_imgs/img1.jpg"); }
    .slider li:nth-child(2) {
      background-image: url("about_imgs/img2.jpg"); }
    .slider li:nth-child(3) {
      background-image: url("about_imgs/img3.jpg"); }
    .slider li:nth-child(4) {
      background-image: url("about_imgs/img4.jpg"); }
    .slider li img {
      display: none; }
  .slider .slide-content h2 {
    font-size: 1em; } }

/*# sourceMappingURL=about.css.map */
